Source: pymonetdb
Section: python
Priority: optional
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends: debhelper (>=10),
               dh-python,
               python3-dev,
               python3-setuptools,
               python3-all,
               python3-pytest-runner,
               python3-mock
Standards-Version: 4.5.0
Homepage: https://github.com/gijzelaerr/pymonetdb
X-Python3-Version: >= 3.2

Package: python3-pymonetdb
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Description: Native python3 client API for monetDB
 MonetDB is a column-store database.

Package: pymonetdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pymonetdb
Description: MonetDB is a column-store database.
